# S&P 500 Historical Stock Data

In [2]:
import pandas as pd
import quandl
import time

In [3]:
# Access quandl with API key
quandl.ApiConfig.api_key = "hCxi5g-8hmVb2oihz2ek"

I obtained the tickers from a list on [Wikipedia](https://en.wikipedia.org/wiki/List_of_S%26P_500_companies).

In [4]:
sptickers = ['MMM','ABT','ABBV','ACN','ATVI','AYI','ADBE','AMD','AAP','AES','AET',
		'AMG','AFL','A','APD','AKAM','ALK','ALB','ARE','ALXN','ALGN','ALLE',
		'AGN','ADS','LNT','ALL','GOOGL','GOOG','MO','AMZN','AEE','AAL','AEP',
		'AXP','AIG','AMT','AWK','AMP','ABC','AME','AMGN','APH','APC','ADI','ANDV',
		'ANSS','ANTM','AON','AOS','APA','AIV','AAPL','AMAT','APTV','ADM','ARNC',
		'AJG','AIZ','T','ADSK','ADP','AZO','AVB','AVY','BHGE','BLL','BAC','BK',
		'BAX','BBT','BDX','BRK.B','BBY','BIIB','BLK','HRB','BA','BWA','BXP','BSX',
		'BHF','BMY','AVGO','BF.B','CHRW','CA','COG','CDNS','CPB','COF','CAH','CBOE',
		'KMX','CCL','CAT','CBG','CBS','CELG','CNC','CNP','CTL','CERN','CF','SCHW',
		'CHTR','CHK','CVX','CMG','CB','CHD','CI','XEC','CINF','CTAS','CSCO','C','CFG',
		'CTXS','CLX','CME','CMS','KO','CTSH','CL','CMCSA','CMA','CAG','CXO','COP',
		'ED','STZ','COO','GLW','COST','COTY','CCI','CSRA','CSX','CMI','CVS','DHI',
		'DHR','DRI','DVA','DE','DAL','XRAY','DVN','DLR','DFS','DISCA','DISCK','DISH',
		'DG','DLTR','D','DOV','DWDP','DPS','DTE','DRE','DUK','DXC','ETFC','EMN','ETN',
		'EBAY','ECL','EIX','EW','EA','EMR','ETR','EVHC','EOG','EQT','EFX','EQIX','EQR',
		'ESS','EL','ES','RE','EXC','EXPE','EXPD','ESRX','EXR','XOM','FFIV','FB','FAST',
		'FRT','FDX','FIS','FITB','FE','FISV','FLIR','FLS','FLR','FMC','FL','F','FTV',
		'FBHS','BEN','FCX','GPS','GRMN','IT','GD','GE','GGP','GIS','GM','GPC','GILD',
		'GPN','GS','GT','GWW','HAL','HBI','HOG','HRS','HIG','HAS','HCA','HCP','HP','HSIC',
		'HSY','HES','HPE','HLT','HOLX','HD','HON','HRL','HST','HPQ','HUM','HBAN','HII',
		'IDXX','INFO','ITW','ILMN','IR','INTC','ICE','IBM','INCY','IP','IPG','IFF','INTU',
		'ISRG','IVZ','IQV','IRM','JEC','JBHT','SJM','JNJ','JCI','JPM','JNPR','KSU','K','KEY',
		'KMB','KIM','KMI','KLAC','KSS','KHC','KR','LB','LLL','LH','LRCX','LEG','LEN','LUK',
		'LLY','LNC','LKQ','LMT','L','LOW','LYB','MTB','MAC','M','MRO','MPC','MAR','MMC','MLM',
		'MAS','MA','MAT','MKC','MCD','MCK','MDT','MRK','MET','MTD','MGM','KORS','MCHP','MU',
		'MSFT','MAA','MHK','TAP','MDLZ','MON','MNST','MCO','MS','MOS','MSI','MYL','NDAQ',
		'NOV','NAVI','NTAP','NFLX','NWL','NFX','NEM','NWSA','NWS','NEE','NLSN','NKE','NI',
		'NBL','JWN','NSC','NTRS','NOC','NCLH','NRG','NUE','NVDA','ORLY','OXY','OMC','OKE',
		'ORCL','PCAR','PKG','PH','PDCO','PAYX','PYPL','PNR','PBCT','PEP','PKI','PRGO','PFE',
		'PCG','PM','PSX','PNW','PXD','PNC','RL','PPG','PPL','PX','PCLN','PFG','PG','PGR',
		'PLD','PRU','PEG','PSA','PHM','PVH','QRVO','PWR','QCOM','DGX','RRC','RJF','RTN','O',
		'RHT','REG','REGN','RF','RSG','RMD','RHI','ROK','COL','ROP','ROST','RCL','CRM','SBAC',
		'SCG','SLB','SNI','STX','SEE','SRE','SHW','SIG','SPG','SWKS','SLG','SNA','SO','LUV',
		'SPGI','SWK','SBUX','STT','SRCL','SYK','STI','SYMC','SYF','SNPS','SYY','TROW','TPR',
		'TGT','TEL','FTI','TXN','TXT','TMO','TIF','TWX','TJX','TMK','TSS','TSCO','TDG','TRV',
		'TRIP','FOXA','FOX','TSN','UDR','ULTA','USB','UAA','UA','UNP','UAL','UNH','UPS','URI',
		'UTX','UHS','UNM','VFC','VLO','VAR','VTR','VRSN','VRSK','VZ','VRTX','VIAB','V','VNO',
		'VMC','WMT','WBA','DIS','WM','WAT','WEC','WFC','HCN','WDC','WU','WRK','WY','WHR','WMB',
		'WLTW','WYN','WYNN','XEL','XRX','XLNX','XL','XYL','YUM','ZBH','ZION','ZTS']

len(sptickers)

505

For simplicity, I use Quandl's WIKI Price [database](https://www.quandl.com/databases/WIKIP/documentation). Note that the database is not completely up-to-date.

In [ ]:
# Create index for data frame. Dates from 1999-01-01 to 2019-01-01.

index = pd.date_range(start='1999-01-01', end='2019-01-01')
sp500 = pd.DataFrame(index=index)

# Because I can't make too many requests at once, I run a loop through the tickers
for i in sptickers:
    data = quandl.get_table('WIKI/PRICES', ticker = i, 
                        qopts = { 'columns': ['ticker', 'date', 'adj_close'] }, 
                        date = { 'gte': '1999-01-01', 'lte': '2019-01-01' }, 
                        paginate=True)
    
    # Set the row index to date and fill in the ticker
    new = data.set_index('date')
    clean_data = new.pivot(columns='ticker')
    sp500 = sp500.join(clean_data, how="left")
    # Counter for the impatient
    print(sptickers.index(i))
    time.sleep(.1)

In [ ]:
# Drop all observations where the market is not open
sp500v2 = sp500.dropna(axis=0,how='all')
# Clean up the column names
sp500v2.columns = [i[1] for i in sp500v2.columns]
# Save file
sp500v2.to_csv(r"/Users/abikumar/Desktop/Capstone1/SP500.csv")

# S&P 500 Indicators
Let's just see what kind of data we can get from SHARADAR. I'll test it using Apple (AAPL).

In [35]:
data = quandl.get_table('SHARADAR/SF1', ticker = 'AAPL')
data

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,MRY,2018-12-31,2018-09-29,2018-09-29,2019-05-01,-3454000000,365725000000,372304500000,131339000000,...,4829926000,4955377000,5000109000,53.597,365725000000,0,13372000000,0,76.168,15410000000
1,AAPL,MRY,2017-12-31,2017-09-30,2017-09-30,2019-05-01,-150000000,375319000000,346541250000,128645000000,...,5165228000,5217242000,5251692000,43.938,375319000000,0,15738000000,0,72.886,27831000000
2,AAPL,MRY,2016-12-31,2016-09-24,2016-09-24,2019-05-01,634000000,321686000000,306462250000,106869000000,...,5388443000,5470820000,5500281000,39.416,313066000000,0,15685000000,0,58.333,27863000000
3,AAPL,MRY,2015-12-31,2015-09-26,2015-09-26,2019-05-01,-345000000,290345000000,271646000000,89378000000,...,5702722000,5753421000,5793069000,40.622,281336000000,0,19121000000,0,49.821,8768000000
4,AAPL,MRY,2014-12-31,2014-09-27,2014-09-27,2019-05-01,1082000000,231839000000,221383000000,68531000000,...,5987867000,6085572000,6122663000,30.037,223081000000,4318000000,13973000000,0,37.595,5083000000
5,AAPL,MRY,2013-12-31,2013-09-28,2013-09-28,2019-05-01,-471000000,207000000000,199421750000,73286000000,...,6359479000,6477320000,6521634000,26.386,201244000000,3453000000,13118000000,0,31.796,29628000000
6,AAPL,MRY,2012-12-31,2012-09-29,2012-09-29,2019-05-01,499000000,176064000000,157143750000,57653000000,...,6561842000,6543726000,6617483000,23.917,170705000000,2583000000,14030000000,0,25.991,19111000000
7,AAPL,MRY,2011-12-31,2011-09-24,2011-09-24,2019-05-01,443000000,116371000000,101193750000,44988000000,...,6489636202,6469806000,6556515000,16.731,111939000000,2014000000,8283000000,0,17.227,17018000000

It seems that, without paying, I can get up to 8 Most-Recently Reported Yearly Data (MRY). The documentation defines Most-Recently reported as "the most recently reported data for thtat reporting period."

In [ ]:
# Create empty dataframe to store results
indicators = pd.DataFrame(columns = data.columns)

# Go through all tickers and get the indicators
for ticker in sptickers:
    data = quandl.get_table('SHARADAR/SF1', ticker = ticker)
    
    indicators = indicators.append(data)
    
    print(sptickers.index(ticker))
    time.sleep(.1)

In [ ]:
indicators.to_csv(r"/Users/abikumar/Desktop/Capstone1/SP500indicators.csv")

# Data Preparation

In [6]:
sp500 = pd.read_csv("SP500.csv")
sp500 = sp500.set_index(sp500.columns[0])
data.index.rename("date", inplace=True)
data.head()

,MMM,ABT,ABBV,ACN,ATVI,AYI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XL,XYL,YUM,ZBH,ZION,ZTS
date,,,,,,,,,,,,,,,,,,,,,
1999-01-04,23.747541,13.822417,NaN,NaN,0.828795,NaN,6.185800,14.000,NaN,18.803813,...,NaN,11.457631,177.511958,12.447396,45.418931,NaN,6.343066,NaN,47.061397,NaN
1999-01-05,23.884369,13.839429,NaN,NaN,0.823463,NaN,6.054503,13.845,NaN,18.730810,...,NaN,11.482684,180.827122,12.983069,45.231674,NaN,6.465631,NaN,46.967758,NaN
1999-01-06,24.998082,13.734520,NaN,NaN,0.837936,NaN,5.837740,13.625,NaN,18.730810,...,NaN,11.536966,184.292975,12.867348,42.700681,NaN,6.564474,NaN,46.967758,NaN
1999-01-07,24.422133,13.555892,NaN,NaN,0.833366,NaN,5.961605,13.720,NaN,18.250533,...,NaN,11.482684,183.539529,12.774026,43.491994,NaN,6.531526,NaN,46.624415,NaN
1999-01-08,24.543051,13.504856,NaN,NaN,0.823463,NaN,6.045833,14.000,NaN,17.578145,...,NaN,11.403349,182.635393,12.785224,41.679828,NaN,6.548659,NaN,46.725857,NaN

In [35]:
indicators = pd.read_csv('SP500indicators.csv', index_col=3)
indicators = indicators.drop('Unnamed: 0', axis=1)
indicators.head()

,ticker,dimension,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,assetsnc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
calendardate,,,,,,,,,,,,,,,,,,,,,
2018-12-31,MMM,MRY,2018-12-31,2018-12-31,2019-04-26,-6.866000e+09,3.650000e+10,3.728200e+10,1.370900e+10,2.279100e+10,...,582287135.0,588500000.0,602000000.0,55.675,2.379200e+10,0.0,1637000000,243000000.0,40.971,6.465000e+09
2017-12-31,MMM,MRY,2017-12-31,2017-12-31,2019-04-26,-7.026000e+09,3.798700e+10,3.511825e+10,1.427700e+10,2.371000e+10,...,595608108.0,597500000.0,612700000.0,52.982,2.453800e+10,0.0,2679000000,310000000.0,41.150,6.590000e+09
2016-12-31,MMM,MRY,2016-12-31,2016-12-31,2019-04-26,-7.245000e+09,3.290600e+10,3.329350e+10,1.172600e+10,2.118000e+10,...,601466401.0,604700000.0,618700000.0,49.792,2.142000e+10,0.0,1995000000,299000000.0,35.688,5.507000e+09
2015-12-31,MMM,MRY,2015-12-31,2015-12-31,2019-04-26,-6.359000e+09,3.288300e+10,3.204300e+10,1.098600e+10,2.189700e+10,...,615712937.0,625600000.0,637200000.0,48.392,2.103300e+10,0.0,1982000000,332000000.0,34.245,3.868000e+09
2014-12-31,MMM,MRY,2014-12-31,2014-12-31,2019-04-26,-6.289000e+09,3.120900e+10,3.287550e+10,1.230300e+10,1.890600e+10,...,640818842.0,649200000.0,662000000.0,49.016,2.272400e+10,0.0,2028000000,435000000.0,35.612,6.339000e+09

    1) Get Stock Split Data
    2) Make data reflect stock splits
    3) filter data to meet those we have fundamental data on for 8 years
    4) Update notebook so it doesn't need to export to csv until the end

## 1) Accounting for Stock Splits
Stock splits cause an increase in the supply of the stock while the company value remains the same. Typically this is done 2 to 1. Meaning, if you hold 10 stocks of AAPL priced at 150 each, it will become 20 stocks priced at 75 each. Unaccounted for it would lead to a drastic decrease.

In [51]:
index = pd.date_range(start='1999-01-01', end='2019-01-01')
stock_splits = pd.DataFrame(index=index)

for i in sptickers:
    split = quandl.get_table('WIKI/PRICES', ticker = i, 
                            qopts = { 'columns': ['ticker', 'date', 'split_ratio'] }, 
                            date = { 'gte': '1999-01-01', 'lte': '2019-01-01' }, 
                            paginate=True)

    new_splits = split.set_index('date')
    clean_splits = new_splits.pivot(columns='ticker')
    stock_splits = stock_splits.join(clean_splits, how="left")

    print(sptickers.index(i))

/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:522: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504

In [76]:
stock_splits.columns = [i[1] for i in stock_splits.columns]

IndexError: string index out of range

In [56]:
stock_splits = stock_splits.dropna(axis=0, how='all')

In [57]:
stock_splits

,MMM,ABT,ABBV,ACN,ATVI,AYI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XL,XYL,YUM,ZBH,ZION,ZTS
1999-01-04,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-05,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-06,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-07,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-08,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-11,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-12,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-13,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-14,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-15,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-19,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-20,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-21,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-22,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-25,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-26,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-27,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-28,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-01-29,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-02-01,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-02-02,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-02-03,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-02-04,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-02-05,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-02-08,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-02-09,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-02-10,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-02-11,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-02-12,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
1999-02-16,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-13,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-02-14,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-02-15,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-02-16,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-02-20,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-02-21,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-02-22,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-02-23,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-02-26,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-02-27,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-02-28,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-01,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-02,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-05,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-06,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-08,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-09,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-12,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-13,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-14,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-15,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-16,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-19,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-20,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-21,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-22,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-23,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-26,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-03-27,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [60]:
def split_factor(splits):
    splits = splits.tolist()
    reverse = splits.reverse()
    for i in range(len(reverse)):
        if(i != 1):
            reverse[0:i-1] = reverse[0:i-1]*reverse[[i]]
    stock_splits = reverse.reverse()
    return(stock_splits)

TypeError: can't multiply sequence by non-int of type 'str'

SyntaxError: invalid syntax (<ipython-input-75-0b3949de502e>, line 2)

TypeError: unsupported operand type(s) for *: 'int' and 'NoneType'